html {
    font-size: 100%;
  }

body{
    font-family: a-otf-ryumin-pr6n, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    background-image:url("juken_template_omamori.jpg");
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
.site-header{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    z-index: 95;
    background: linear-gradient(90deg,#ffc0cb,#fffaf0,#ffc0cb);
    text-align: center;
    font-size: 5vw;
}

.text{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    z-index: 95;
    text-align: center;
    font-size: 5vw;
    margin-top: 25vh;
}

.omikuji-result{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    z-index: 95;
    text-align: center;
    font-size: 40vw;
    margin-top: 30vh;
}
